* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

.hero-msg {
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.89rem;
  position: absolute;
  left: 60px;
  top: 400px;
  width: 90%;
  margin-bottom: 25px;
}
.hero-msg a {
  color: #007185;
}
.image-container {
  position: relative;
}
.image-list {
  display: flex;
}
.image-item {
  min-width: 100%;
}
.image-item img {
  height: 400px;
  width: 100%;
}
.image-btn {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider-btn {
  border: 2px solid transparent;
  padding: 100px 20px;
  font-size: 50px;
  background-color: transparent;
  color: black;
}
.slider-btn:focus {
  border-color: rgb(70, 159, 194);
  box-shadow: 2px 2px 2px white;
  margin: 2px;
}
.slider-btn:hover {
  color: black;
}
/* -------------------------------------------- */

/* -------------------------------------------- */
.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}
.box-img {
  height: 280px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.box-con {
  margin-left: 1rem;
  margin-right: 1rem;
}
button {
  border: none;
  font-size: 1rem;
  color: #007185;
  background-color: white;
  margin-top: 5px;
}
button:hover {
  color: orangered;
  cursor: pointer;
}
.box-con h2 {
  text-align: center;
}
/* ------------------------------------------------------- */
.main_shop {
  background-color: #e2e7e6;
  height: 350px;
  width: 100%;
  display: flex;
}
.shop2 {
  margin-top: 20px;
  height: 300px;
  width: 97%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  position: relative;
}
.shop2 img {
  height: 200px;
  width: 170px;
  cursor: pointer;
  padding: 10px;
}
.main_shop .para {
  font-size: 1.5rem;
  height: 100px;
  width: 400px;
  position: absolute;
  top: 10px;
  left: 20px;
}
.main_shop .para p {
  font-weight: 800;
}
.main_shop .shop2.left-arrow {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
/* ------------------------------------------------------------------------- */
.main_shop3 {
  height: 450px;
  width: 100%;
  /* border: 2px solid black; */
  background-color: #e2e7e6;
  display: flex;
}
.shop3 {
  height: 430px;
  width: 23%;
  background-color: white;
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(2, 150px);
  position: relative;

  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;
  margin-left: 20px;
}
.main_shop3 > .shop3 > #hh > p {
  font-size: 1rem;
  margin-left: 22px;
}
.main_shop3 h2 {
  position: absolute;
  top: 16px;
  align-items: center;
}
.main_shop3 button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.main_shop3 .shop3 img {
  height: 120px;
  width: 140px;
}
/* --------------------------------------- */

.foot-panel {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}
.foot-panel #a1 {
  text-decoration: none;
  color: white;
}
.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  margin-top: 25px;
}
ul p {
  font-size: 1.1rem;
  font-weight: 800;
}
ul a {
  display: block;
  font-size: 1rem;
  margin-top: 10px;
  color: #dddddd;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* --------------------------------------- */
.foot-panel3 {
  background-color: #222f3d;
  border-top: 0.3px solid rgb(100, 96, 96);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #dddddd;
}
.logo {
  background-image: url(/public/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}
.bx1 {
  border: 1px solid gray;
  padding: 6px;
  color: #dddddd;
  font-size: 0.9rem;
  border-radius: 3px;
}
.bx2 {
  border: 1px solid gray;
  padding: 6px;
  color: #dddddd;
  font-size: 0.9rem;
  border-radius: 3px;
}
.bx3 {
  border: 1px solid gray;
  padding: 6px;
  font-size: 0.9rem;
  border-radius: 3px;
  color: #dddddd;
}
/* ----------------------------------------------------------- */
.panel4 {
  background-color: #1d2630;
  height: 400px;
  width: 100%;
  position: absolute;
  /* top: 1000px; */
}
.box11 p {
  color: #dddddd;
  font-size: 0.9rem;
}
.box11 p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.box11 a {
  color: #dddddd;
  font-size: 0.8rem;
}
.box11 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 20px;
  gap: 0.1rem;
}
.box22 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
  margin-top: 40px;
  flex-direction: row;
}
.box22 p {
  color: #dddddd;
  font-size: 0.9rem;
}
.box22 p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.box22 a {
  color: #dddddd;
  font-size: 0.8rem;
}
/* ---------------------------------------- */
.foot-panel5 {
  /* color: white; */
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
}
.pages {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}
.pages a {
  color: #dddddd;
  font-size: 0.9rem;
}
.copyright {
  padding-top: 4px;
  color: #dddddd;
  font-size: 0.9rem;
}
