
<div class="p-2 bg-dark">
    <div class="nav flex nav-pills" role="tablist">
      <a class="nav-link text-white" routerLink="register" routerLinkActive="active" aria-current="page">Register Customer</a>
      <a class="nav-link text-white" routerLink="home" routerLinkActive="active">Home</a>
      <a class="nav-link text-white" routerLink="adminDash" routerLinkActive="active">Admin Dashboard</a>
      <a class="nav-link text-white" routerLink="cart" routerLinkActive="active">Cart</a>
      <a class="nav-link text-white" routerLink="orderPlace" routerLinkActive="active">Order Place</a>
    </div>
  </div>
  
<router-outlet></router-outlet>

<br><hr>